<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <property name="LOG_PATH" value="logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/hotel-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/hotel-app-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p --- [%t] %-40.40logger{39} : %m%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <springProfile name="docker">
        <logger name="by.vladislav.hotelreservation" level="${LOG_LEVEL_APP:-DEBUG}" additivity="false">
            <appender-ref ref="Console" />
        </logger>
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
    </springProfile>

    <springProfile name="!docker">
        <logger name="by.vladislav.hotelreservation" level="${LOG_LEVEL_APP:-DEBUG}" additivity="false">
            <appender-ref ref="Console" />
            <appender-ref ref="RollingFile" />
        </logger>
        <root level="INFO">
            <appender-ref ref="Console" />
        </root>
    </springProfile>

</configuration>
